<div class="wrapper" *ngIf="show">
    <div class="show-wrapper">
        <img [src]="show.image?.medium" alt="{{ show.name }}" class="show-image">
        <div class="show-info">
          <h1 class="show-name">{{ show.name }}</h1>
          <div class="show-rating" *ngIf="show.rating?.average">
            Rating: {{ show.rating.average }}
          </div>
        </div>
      </div>
      <div class="show-summary" [innerHTML]="show.summary"></div>

    <h2>Episodes</h2>
    <div class="column gap-1">
        <div class="row wrap gap-2 space-between">
          <app-episode-card
          *ngFor="let episode of episodes"
          [episode]="episode"
          [showId]="showId">
          </app-episode-card>
        </div>

    <h2>Cast</h2>
    <div class="row wrap gap-2 space-between">
        <div *ngFor="let actor of cast">
            <span class="status-label">Name:</span>
            <span class="status">{{ actor.person.name }}</span>
            <span class="status-label">In the role of:</span>
            <span class="status">{{ actor.character.name }}</span>
        </div>
  </div>
</div>