.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}
  
.search-bar input {
    padding: 5px;
    font-size: 16px;
}
  
.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
}

.header-image {
    cursor: pointer;
}